body
{
    background-image:url("background.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table
{
    border: 1px solid black;
    width: 80%;
}

td
{
    border:1px solid black;
}