body
{
    background-image:url("https://atkia817.github.io/images/background.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table
{
    border: 2px solid rgb(3, 4, 61);
    width: 75%;
    border-radius: 10px;
    border-left-width: 10px;
    border-top-width: 10px;
}

html
{
    font-family: 'Times New Roman', Times, serif;
}
/*td
{
    border:1px solid black;
}*/
