body
{
    background-image:url("images//background.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table
{
    border: 2px solid rgb(233, 149, 188);
    width: 75%;
    border-radius: 10px;
}

/*td
{
    border:1px solid black;
}*/
